    <div class="row reverse">
      <div class="col">
        <strong>WalledCTTY BBS</strong>
      </div>
      <div class="col">
        <a [routerLink]="'/'" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">&nbsp;Home&nbsp;</a>
      </div>
      <div class="col">
        <a [routerLink]="'/connect'" routerLinkActive="active-link">&nbsp;Connect&nbsp;</a>
      </div>
      <div class="col">
        <a [routerLink]="'/doors'" routerLinkActive="active-link">&nbsp;Doors&nbsp;</a>
      </div>
      <div class="col">
        <a [routerLink]="'/messages/system'" routerLinkActive="active-link">&nbsp;Messages&nbsp;</a>
      </div>
      <div class="col">
        <a [routerLink]="'/about'" routerLinkActive="active-link">&nbsp;About&nbsp;</a>
      </div>
    </div>
    <div class="subheader">WalledCTTY Computer Bulletin Board System: an elegant social media, for a more civilized age.</div>  