<div class="row content">
    <div class="col-sm-5 col-md-4">
        <img class="mid-res" src="/assets/photos/MainMenu.png" title="Main Menu for WalledCTTY BBS."/>
        <div class="dosbox">
            <h1 class="title">Board Information:</h1>
            <hr class="dark-176">
            Name:   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WalledCTTY<br />
            Sysop:  &nbsp;&nbsp;&nbsp;&nbsp;MCP<br />
            Telnet: &nbsp;&nbsp;&nbsp;bbs.walledctty.com<br />
            Port:   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1989<br />
            Location: &nbsp;Fort Collins, CO<br />
            Telephone: 1 (970) 449-0767 (US)<br />
            FSXnet: &nbsp;&nbsp;&nbsp;21:1/145<br />
        </div>
        <div class="single">
            <h1 class="title-light">Board Status:</h1>
            <hr class="light-176">
            <span>LMP-386 Status: <strong class="online">Online</strong></span><br />
            <span>Dystopic Filter Engine: <strong class="online">Online</strong></span><br />
            <span>Time Displacement Mod: <strong class="online">Online</strong></span><br />
            <span>Local Message System: <strong class="online">Online</strong></span><br />
            <span>Network Message System: <strong class="online">Online</strong></span><br />
            <span>ORCS Database System: <strong class="offline">Offline</strong></span><br />
            <span>External Software: <strong class="online">Online</strong></span><br />
            <span>File Transport Systems: <strong class="offline">Offline</strong></span><br />
        </div>

    </div>
    <div class="col">
        <div class="page-header">Welcome</div>
        <p>This is the WalledCTTY presence on the modern network. We've styled our website to make it feel a little more familiar to those coming from the old net. For those visitors, be careful out here. There's danger lurking within the code. Corporations, insidious and omnipresent, lie in wait for any vulnerability to siphon your data and, indeed, your very essence. For anyone wishing to escape the corporate web, port 1989 at bbs.walledctty.com is accepting telnet connections. More information about this can be found on the <a [routerLink]="'/connect'" routerLinkActive="active-link" class="secondary-link">connect page.</a></p>
        <p>If you want information about what WalledCTTY is, as well as the software and hardware used to make it work, those details can be found on the <a [routerLink]="'/about'" routerLinkActive="active-link" class="secondary-link">about</a> page. A feed to the non-networked message areas has been developed, the output of which is available on the <a [routerLink]="'/messages/system'" routerLinkActive="active-link" class="secondary-link">messages</a> page. Anchor points are provided should anyone feel the need to link directly to a specific message. This is a one-way connection. To post content or reply to a message, you'll need to log into WalledCTTY itself. This is a feature, not a bug. Also, a list of current games can be found on the <a [routerLink]="'/doors'" routerLinkActive="active-link" class="secondary-link">doors</a> page.</p>
        <div class="page-header">Caveats</div>
        <div class="double">Unlike many modern telnet boards that run on relatively up-to-date hardware and software (or on older software running in a speedy virtual machine), WalledCTTY is vintage software running on vintage hardware. Most of this stuff is thirty-years-old or older. Some tasks may require a bit more patience due to the system's older technology. If anything, this makes the whole thing feel a bit more legit.</div>
        <div class="double">Currently the system has *only* been tested with 80 columns using modern telnet clients. 40-column, non-ASCII/ANSI testing will happen sooner, rather than later.</div>
    </div>
</div>
